@page
@model FrontEnd.Pages.Admin.CreateProjectModel
@{
    ViewData["Title"] = "Create Project";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}
<div class="row">
    <div class="card shadow h-100 col-12">
        <div class="card-header">
            <h4>EditProject</h4>
        </div>
        <form method="post" class="form-horizontal">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="card col-6 border-0">
                        <div class="form-group">
                            <div class="card-header">
                                <label asp-for="Project.Title"></label>
                            </div>
                            <div class="card-body">
                                <input asp-for="Project.Title" class="form-control" />
                                <span asp-validation-for="Project.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 border-0">
                        <div class="form-group">
                            <div class="card-header">
                                <label asp-for="Project.ProjectManagerId"></label>
                            </div>
                            <div class="card-body">
                                <select asp-for="Project.ProjectManagerId" asp-items="@Model.Users">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-12 border-0">
                        <div class="form-group">
                            <div class="card-header">
                                <label asp-for="Project.Description"></label>
                            </div>
                            <div class="card-body">
                                <textarea asp-for="Project.Description" class="form-control"></textarea>
                                <span asp-validation-for="Project.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
