@page
@model IndexModel
@{
    var title = "Projects";
    ViewData["Title"] = title;
}

<div class="project-list">
    <h1>@title</h1>

    <div class="row">
        <ul>
            @foreach (var project in Model.Projects)
            {
                <li>@project.Title</li>
            }
        </ul>
    </div>
</div>

